RUST_LOG = "shishabot=debug,info" # could just be "info" on release

# Database
DATABASE_URL = "" #postgresql url made after creation

# Tokens
DISCORD_TOKEN = # discord app token
OSU_CLIENT_ID = # client id created after making oauth key in osu profile settings
OSU_CLIENT_SECRET = # same as id, just the secret
OSU_API_KEY = #osu legacy api key

# Replay Upload
UPLOAD_SECRET = "" # secret made in fileserver/upload.py, if smt else gl
UPLOAD_URL = "http://127.0.0.1:5555/upload" #url for upload, default is the fileserver upload one

# Paths
DANSER_PATH = "./data/danser/" # or wherever else danser is located (directory where dancer is located, not binary path), IF NOT WORK TRY PUTTING FULL PATH IN BOTH danser and folders PATHS
FOLDERS_PATH = "./data/" # or in whatever other folder the Skins, Downloads, Songs, ... folders are

# IDs
OWNERS_USER_ID =  # bot owner user id
DEV_GUILD_ID =  # dev server id

# Emojis
MAN_RUNNING = "<:man_running_escaped:emoji_id_from_discord_application_dev_portal>"
WHITE_CHECK_MARK = "<:white_check_mark_escaped:emoji_id_from_discord_application_dev_portal>"
HOURGLASS = "<:hourglass_escaped:emoji_id_from_discord_application_dev_portal>"
EMOJI_HIT_300 = "<:hit300:emoji_id_from_discord_application_dev_portal>"
EMOJI_HIT_100 = "<:hit100:emoji_id_from_discord_application_dev_portal>"
EMOJI_HIT_50 = "<:hit50:emoji_id_from_discord_application_dev_portal>"
EMOJI_HIT_MISS = "<:hitmiss:emoji_id_from_discord_application_dev_portal>"
GRADE_XH = "<:grade_xh:emoji_id_from_discord_application_dev_portal>"
GRADE_X = "<:grade_x:emoji_id_from_discord_application_dev_portal>"
GRADE_SH = "<:grade_sh:emoji_id_from_discord_application_dev_portal>"
GRADE_S = "<:grade_s:emoji_id_from_discord_application_dev_portal>"
GRADE_A = "<:grade_a:emoji_id_from_discord_application_dev_portal>"
GRADE_B = "<:grade_b:emoji_id_from_discord_application_dev_portal>"
GRADE_C = "<:grade_c:emoji_id_from_discord_application_dev_portal>"
GRADE_D = "<:grade_d:emoji_id_from_discord_application_dev_portal>"
GRADE_FAIL = "<:grade_fail:emoji_id_from_discord_application_dev_portal>"