RUST_LOG = "shishabot=debug,info" # could just be "info" on release

# Database
DATABASE_URL = 

# Tokens
DISCORD_TOKEN = # discord app token
OSU_CLIENT_ID = # client id created after making oauth key in osu profile settings
OSU_CLIENT_SECRET = # same as id, just the secret
OSU_API_KEY = #osu legacy api key

# Replay Upload
UPLOAD_SECRET = ""
UPLOAD_URL = ""

# Paths
DANSER_PATH = "./data/danser/" # or wherever else danser is located (directory where dancer is located, not binary path)
FOLDERS_PATH = "./data/" # or in whatever other folder the Skins, Downloads, Songs, ... folders are

# IDs
OWNERS_USER_ID =  # bot owner user id
DEV_GUILD_ID =  # dev server id

# Emojis
MAN_RUNNING = "<:man_running_escaped:1018147731677663294>"
WHITE_CHECK_MARK = "<:white_check_mark_escaped:1018154362364776478>"
HOURGLASS = "<:hourglass_escaped:1018154809515323412>"
